<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h2><%= t('.sign_up') %></h2>

    <div class="card border-primary">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <p>
              <%= f.label :first_name %>
              <%= f.text_field :first_name, id: :user_first_name, class: 'form-control' %>
            </p>

            <p>
              <%= f.label :last_name %>
              <%= f.text_field :last_name, id: :user_last_name, class: 'form-control' %>
            </p>

            <p>
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control', autocomplete: "email", placeholder: "name@example.com" %>
            </p>

            <p>
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <small id="passwordHelpInline" class="text-muted">
                <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
                </small>
              <% end %>
            </p>

            <p>
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
            </p>

            <%= f.submit t('.sign_up'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-1">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

