<div class="row justify-content-center mt-3">
  <div class="col col-md-8">
    <h1 class="display-4 text-center"><%= t('.header') %></h1>

    <div class="card border-secondary rounded mb-3 mt-4">
      <div class="card-body">
        <table class="table table-hover text-center table-sm mt-3">
          <thead>
          <tr>
            <th scope="col"><%= t('.title') %></th>
            <th scope="col"><%= t('.image') %></th>
            <th scope="col"><%= t('.description') %></th>
          </tr>
          </thead>

          <tbody>
            <%= render @badges %>
          </tbody>
        </table>

        <p>
          <%= link_to t('.current_badges'), current_badges_path, class: 'btn btn-primary btn-sm active' %>
          <%= link_to t('.back'), tests_path, class: 'btn btn-secondary btn-sm active' %>
        </p>
      </div>
    </div>
  </div>
</div>

