<h1><%= t('.header', title: @test_passage.test.title) %></h1>

  <h2><%= test_complete_message(@test_passage) %></h2> 
  <% if @test_passage.success? %>
    <h3 class='success-color'><%= t('.percent') %> <%= @test_passage.success_percent.to_i %>%</h3>
  <% else %>
    <h3 class='fail-color'><%= t('.percent') %> <%= @test_passage.success_percent.to_i %>%</h3>
  <% end %>

<p><%= link_to t('.back'), tests_path, class: 'btn btn-secondary mt-3' %></p>
