<h1><%= @test_passage.test.title %> Test</h1>
<h2>Question number <%= @test_passage.current_question_number %> from <%= @test_passage.test.questions.size %></h2>

<b>
  <%= @test_passage.current_question.body %>
</b>

<%= render 'form' %>
