<h2><%= @test_passage.test.title %> Test</h2>
<h3>Question number <%= @test_passage.current_question_number %> from <%= @test_passage.test.questions.size %></h3>

<p>
  <%= @test_passage.current_question.body %>
</p>

<%= render "form" %>
