<h1><%= t('.header') %></h1>

<p>
  <strong><%= t('.body') %></strong>
  <%= @answer.question.body %>
</p>

<%= render "form" %>

<p><%= link_to t('.back'), admin_question_path(@answer.question), class: "btn btn-secondary btn-sm" %></p>
