<tr>
  <td><%= test.title %></td>
  <td><%= test.category.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.author.first_name %></td>
  <td><%= questions_count(test) %></td>
  <td>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to t('.show'), admin_test_path(test), class: 'btn btn-outline-secondary' %>
      <%= link_to t('.edit'), edit_admin_test_path(test), class: 'btn btn-outline-secondary' %>
      <%= link_to t('.delete'), admin_test_path(test), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-outline-secondary' %>
    </div>
  </td>
</tr>
