<h1><%= t('.header') %></h1>

<table class="table text-center">
  <thead class="thead">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.title') %>
        <%= octicon 'line-arrow-up', class: 'text-success hide' %>
        <%= octicon 'line-arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('.category') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.author') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

<p><%= link_to t('.gists'), admin_gists_path, class: 'btn btn-outline-secondary btn-lg' %></p>
<p><%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-success btn-lg' %></p>


