<h1><%= t('.header') %></h1>

<p>
 <strong><%= t('.category') %></strong>
  <%= @test.category.title%>
</p>

<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.author') %></strong>
  <%= @test.author.first_name%>
</p>

<p>
  <strong><%= t('.questions') %></strong>
  <ol><%= render @test.questions %></ol>
</p>

<p>
  <%= link_to t('.edit'), edit_admin_test_path(@test) %> |
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<p><%= link_to t('.back'), admin_tests_path %></p>

