<tr>
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.author.first_name %></td>
  <td class="align-middle"><%= questions_count(test) %></td>
  <td class="align-middle"><%= button_to t('.start'), start_test_path(test), class: 'btn btn-outline-primary' %></td>
</tr>
