<tr>
  <td class="align-middle"><%= test.title %></td>
  <td class="align-middle"><%= test.category.title %></td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.author.first_name %></td>
  <td class="align-middle"><%= questions_count(test) %></td>
  <td class="align-middle">
    <% if current_user.test_passage(test) %>
      <% if current_user.test_passage(test).completed_successfully %>
        <span class="badge badge-pill badge-success"><%= t('.completed_successfully') %></span>
      <% else %>
        <span class="badge badge-pill badge-danger"><%= t('.completed_unsuccessfully') %></span>
      <% end %>
    <% else %>
      <span class="badge badge-pill badge-dark"><%= t('.not_passed_yet') %></span>
    <% end %>
  <td class="align-middle"><%= button_to t('.start'), start_test_path(test), class: 'btn btn-outline-primary' %></td>
</tr>
