<tr>
  <td><%= test.category.title %></td>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.author.first_name %></td>
  <td><%= questions_count(test) %></td>
  <td><%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %></td>
</tr>
